.auth-wrapper {
    align-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 15px;
}

.auth-container {
    border: 1px solid #d3d3d3;
    padding-bottom: 40px;
    width: 100%;

}

.auth-form-sub-header {
    color: #918d8d;
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 50px;
}

.auth-form-input {
    border-width: 0;
    border-bottom: 1px solid #d3d3d3;
    color: #918d8d;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px;
}

.auth-form-button {
    background: #D3D3CF;
    border: 0;
    border-radius: 4px; 
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
}

.auth-form-promo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.auth-form-promo-switch {
    margin-left: 10px;
}

.auth-form-footer {
    margin-top: 20px;
}

.auth-form-error-message {
    color: red;
    margin-top: 10px;
}

/* Copied Loader from W3Schoolz */
.loader {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 20px;
    margin: auto;
    width: 20px;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) {
    .auth-container {
      width: 400px;
    }
}