.wrapper {
    align-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 15px;
}

.container {
    width: 100%
}

@media only screen and (min-width: 768px) {
    .container {
      border: 1px solid #d3d3d3;
      height: 500px;
      width: 400px;
    }
}